@media only screen and (min-width: 812px) {

    h2 {
        font-size: 2rem;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;

        &:after {
            content: '↓';
            position: absolute;
            bottom: 4rem;
            left: 50%;
            color: #aaa;
        }

        .header-title {
            font-size: 6rem;
            font-weight: 700;
            margin: 0 0 2rem 0;
        }

        .intro {
            font-size: 1.4rem;
            padding: 0 4rem;
        }

        .ctas {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;

            a {
                flex: 0 0 250px;

                &:first-child {
                    margin: 0 1rem 0 0;
                }
            }
        }
    }

    .manifesto {
        padding: 0;

        h2 {
            height: 15vh;
            text-align: center;
            position: sticky;
            top: 0;
            margin: 0 0 4rem 0;
            padding: 1rem 2rem 2rem 1rem;
            background: linear-gradient(var(--color-bg-dark), var(--color-bg-dark), rgba(0,0,0,0));
        }

        ul {
            list-style: none;
            padding: 0 2rem 0;
        }

        li {
            margin-bottom: 20vh;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.6;

            .horror {
                flex: 0 0 33.33%;
                font-size: 3rem;
                line-height: 1;
                font-family: var(--font-sans);
                padding: 3rem;
                font-weight: 700;
            }

            .horror-detail {
                padding: 3rem;
                margin-top: -.75rem;
            }
        }
    }

    .conclusion {
        text-align: center;
        padding: 0 4rem 16rem 4rem;
        position: relative;

        &::after {
            top: 35vh;
            transform: rotate(-15deg);
        }
    }

    .go-further {
        display: grid;
        grid-template-columns: 50% 50%;

        .further-action {
            padding: 3rem;
        }
    }
}
